@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-display: swap;
  src: 
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-display: swap;
  src: 
    url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.btn {
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  padding: 8px 15px;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown {
  background-color: #756257;
}
.btn-brown:hover,
.btn-brown:active {
  background-color: #615048;
}
.btn-brown:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.btn-blue {
  background-color: #83B3D3;
}

.btn-green {
  background-color: #7DB54F;
}

/* Header */

.page-nav {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.page-header-logo {
  position: absolute;
}

.main-menu {
  flex-grow: 1;
  margin-left: 169px;
}

.main-menu .nav-link {
  display: inline-block;
  position: relative;
  padding: 20px 17px;
}

.nav-link.current::before {
  position: absolute;
  content: '';
  height: 2px;
  background-color: #756257;
  left: 17px;
  right: 17px;
  bottom: 0;
}

.nav-link:hover {
  color: #756257;
}
.nav-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.nav-icon {
  display: inline-block;
  padding: 20px 12px;
}
.nav-icon:hover svg {
  fill: #756257;
}
.nav-icon:active svg {
  fill: #756257;
  opacity: 0.3;
}

.heart-icon {
  position: relative;
}
.heart-icon::after {
  position: absolute;
  top: 15px;
  right: -2px;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  color: #FFF;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: -0.1em; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "12";
}

.nav-btn {
  width: 160px;
  margin-left: 20px;
}

/* Footer */

.page-footer {
  margin-top: auto;
  border-top: 1px solid #E6E6E6;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 56px;
}

.footer-social-list {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-icon svg {
  fill: #83B3D3;
}
.social-icon:hover svg,
.social-icon:focus svg {
  fill: #68A2CA;
}
.social-icon:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}
.social-icon:active {
  opacity: 0.3;
}

.footer-address {
  font-style: normal;
  font-size: 40px;
  line-height: 1;
}
.footer-phone,
.footer-logo {
  display: block;
  padding: 15px;
  border: 3px solid transparent;
}
.footer-phone:hover{
  color: #756257;
}
.footer-logo:hover svg,
.footer-logo:focus svg {
  fill: #756257;
}

.footer-phone:focus,
.footer-logo:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}
.footer-phone:active,
.footer-logo:active {
  opacity: 0.3;
}

/* Hero */

.welcome-img {
  margin: 0 auto;
}

.hero-img {
  position: relative;
  background: rgba(131, 179, 211, 0.2) url('../img/bg/index-bg.jpg') no-repeat;
  padding-top: 50px;
  padding-bottom: 82px;
}

.hero-img::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 57px;
  background-image: url('../img/bg/divider.svg');
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  background: #FFF;
  color: #333;
}

.hero-text p {
  max-width: 720px;
  margin: 0 auto; 
}

p.lead {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

/* Advantages */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: 384px;
}

.adv-item-img1 {
  grid-column: 2 / 4;
}

.adv-item-img2 {
  grid-column: 1 / 3;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.17;
  background-color: rgba(131, 179, 211, 0.12);;
}

.advantages-item:first-child,
.advantages-item:nth-of-type(5) {
  background-color: #83B3D3;
  color: #FFF;
}

.advantages-item:nth-of-type(3) {
  background-color: #FFF;
}

.advantages-item:nth-of-type(7) {
  background-color: rgba(131, 179, 211, 0.2);;
}

.advantages-item h3,
.advantages-item h4 {
  font-size: 24px;
  text-transform: uppercase;
  width: 220px;
}

.advantages-item h3 {
  margin-bottom: 10px;
}

.advantages-item p {
  max-width: 250px;
  margin-bottom: 10px;
}

.advantages-item h4 {
  position: relative;
  padding-top: 95px;
}

.advantages-item h4::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item:nth-of-type(2) h4::before {
  background-image: url('../img/icons/house.svg');
}

.advantages-item:nth-of-type(3) h4::before {
  background-image: url('../img/icons/food.svg');
}

.advantages-item:nth-of-type(4) h4::before {
  background-image: url('../img/icons/gift.svg');
}

/* Newsletter */

.newsletter {
  background: url('../img/footer-bg.jpg') no-repeat;
}

/* hotes.html */

.filter-container {
  background: url('../img/hotels-bg.jpg') no-repeat;
}
.inner-newsletter {
  background-color: #FFF;
  background-image: none;
}