@font-face {
  font-family: "PT Sans Narrow";
  src: url('../fonts/PTSansNarrow-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PTSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PTSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #FBF7F4;
  color: #242424;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #242424;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #000;
}
.button-light {
  background-color: #FFF;
  color: #000;
}

/* Page Header */

.page-header {
  background-color: #000;
}
.page-header a {
  color: #FFF;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.nav-list {
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  display: block;
  padding: 24px 20px;
}

.nav-user {
  max-width: 250px;
  margin-left: auto;
}

.nav-user .nav-link {
  min-width: 16px;
  min-height: 22px;
}

/* Main */

.main-index {
  background: #000 url('../img/interior.jpg') no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 61px;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto 64px;
}

.advantages {
  margin-bottom: 60px;
}

.advantages-list {
  text-align: center;
  display: flex;
  gap: 54.5px;
}

.advantages-item {
  width: 277px;
}

.advantages-item h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.index-columns {
  background: #FBF7F4 url('../img/noisy-texture.png');
  color: #242424;
  display: flex;
}

.index-columns:not(:last-child) {
  margin-bottom: 31px;
}

.index-columns section {
  padding: 40px;
}

.services,
.gallery {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  width: 470px;
}

.services-title,
.gallery-title,
.contacts-title,
.appointment-title {
  font-size: 2rem;
  line-height: 1.1;
}

.services-title {
  margin-bottom: 28px;
}
.gallery-title,
.appointment-title {
  margin-bottom: 20px;
}
.contacts-title {
  margin-bottom: 24px;
}

.services-list {
  font-size: 1.25rem;
}
.services-price {
  color: #AF7842;
}

.contacts-title,
.appointment-title {
  font-family: 'PT Sans Narrow', sans-serif;
}

.contacts-subtitle {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #AF7842;
}

.contacts-address,
.contacts-schedule,
.footer-contacts-address {
  font-style: normal;
  font-weight: 700;
}
.contacts-phone {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.appointment > p {
  font-size: .875rem;
  color: #595959;
}

.appointment-form {
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-form input,
.newsletter-form input {
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  color: #BDBDBD;
}

/* Footer */

.page-footer {
  background: #242424 url('../img/noisy-texture.png');
  color: #FFF;
}

.page-footer-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
}

.footer-logo {
  margin-bottom: 24px;
}

p.about-text {
  font-size: .875rem;
  font-weight: 700;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.footer-social-item {
  width: 56px;
  height: 44px;
}

.footer-contacts a {
  color: #FFF;
  font-size: 1.25rem;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}
.page-footer h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 14px;
}
p.about-text a {
  color: #DBB590;
}

/* catalog.html */

.nav-logo {
  width: 140px;
  margin-right: 100px;
}

.main-inner {
  background: #FBF7F4 url('../img/noisy-texture.png');
  padding-top: 40px;
  padding-bottom: 60px;
}
.main-inner h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 32px;
}
.breadcrumbs-link {
  margin-right: 32px;
}

.breadcrumbs-item:first-child {
  text-decoration: underline;
}
.breadcrumbs-item:last-child {
  color: #595959;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-right-column {
  width: 700px;
}

.catalog-filter-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.control-label {
  font-weight: 700;
}

.sorting-container {
  background-color: #FFF;
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
}

.sorting-type {
  margin-right: auto;
}

.sorting-container .button {
  width: 56px;
  height: 44px;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #242424;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 24px;
}
.product-card {
  background-color: #FFF;
  width: 220px;
}
.product-card-titel {
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}
.product-card-price {
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #814B18;
}

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #FFF;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: block;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  color: #FFF;
  background-color: #000;
  font-weight: 700;
  line-height: 1;
}
.pagination-current {
  color: #000;
  background-color: #fff;
}
.pagination-disabled {
  background-color: #595959;
}
.pagination-show-more {
  margin-left: auto;
  padding: 14px 20px;
}