@font-face {
  font-family: "PT Sans Narrow";
  src: url('../fonts/PTSansNarrow-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PTSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PTSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-width: 1020px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #FBF7F4;
  color: #242424;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #242424;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #000;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #814B18;
}

.button:focus {
  background-color: #814B18;
  outline: 2px solid #DBB590;
}

.button:disabled,
.slider-button:disabled {
  background-color: #595959;
  color: #E7E7E7;
}

.button + .button {
  margin-left: 16px;
}
.button-light {
  background-color: #FFF;
  color: #242424;
}
.button-light:hover {
  background-color: #DBB590;
}
.button-light:focus {
  background-color: #DBB590;
  outline: 2px solid #AF7842;
}

.button-all {
  padding-right: 44px;
  background-image: url('../img/icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
}

.newsletter-btn,
.footer-social-link {
  width: 56px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.newsletter-btn {
  background-image: url('../img/icons/arrow-tail.svg');
}

.footer-social-link.tw {
  background-image: url('../img/icons/twitter.svg');
}

.footer-social-link.vk {
  background-image: url('../img/icons/vk.svg');
}

.footer-social-link.inst {
  background-image: url('../img/icons/instagram.svg');
}

/* Page Header */

.page-header {
  background-color: #000;
}
.page-header a {
  color: #FFF;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.nav-list {
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.nav-user {
  max-width: 250px;
  margin-left: auto;
  justify-content: end;
}
.nav-item {
  position: relative;
  display: flex;
  align-self: stretch;
}
.nav-link {
  position: relative;
  display: flex;
  min-height: 70px;
  padding: 24px 20px;
}
.nav-link-current::before {
  position: absolute;
  content: "";
  background-color: #FFF;
  height: 4px;
  bottom: 0;
  left: 20px;
  right: 20px;
}
.nav-icon {
  fill: #BDBDBD;
  margin: auto;
}

.nav-link-login .nav-icon {
  margin-right: 8px;
}

.nav-link:hover {
  background-color: #595959;
}
.nav-link:hover .nav-icon {
  fill: #242424;
}
.nav-link-login:hover .nav-icon,
.nav-link-login:focus .nav-icon {
  fill: #FFF;
}
.nav-link:focus {
  box-shadow: inset 0 0 0 4px #E7E7E7;
  outline: none;
}

/* Main */

.main-index {
  background: #000 url('../img/interior.jpg') no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.main-container {
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 61px;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto 64px;
}

.advantages {
  margin-bottom: 60px;
}

.advantages-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 277px);
  gap: 30px 54.5px;
}

.advantages-item {
  width: 277px;
}

.advantages-item h3 {
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.advantages-item h3::after {
  position: absolute;
  content: '';
  bottom: -40px;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-left: -9px;
  background-color: #FFF;
  transform: rotate(45deg);
}

.index-columns {
  background: #FBF7F4 url('../img/noisy-texture.png');
  color: #242424;
  display: flex;
}

.index-columns:not(:last-child) {
  margin-bottom: 31px;
}

.index-columns section {
  padding: 40px;
}

/* Slider */

.slider-button {
  width: 48px;
  height: 60px;
  border: none;
  cursor: pointer;
  background: #000 url('../img/icons/arrow.svg') no-repeat center;
}
.slider-button:hover {
  background-color: #814B18;
}
.slider-button:focus {
  background-color: #814B18;
  outline: 2px solid #DBB590;
}

.slider-prev {
  transform: rotate(180deg);
}
.slider-pagination{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.slider-pagination-btn {
  width: 8px;
  height: 8px;
  background-color: #BDBDBD;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.slider-pagination-btn.current {
  background-color: #242424;
}
.slider-pagination-btn:hover {
  background-color: #AF7842;
}
.slider-pagination-btn:focus {
  background-color: #DBB590;
  outline: none;
}

.slider {
  position: relative;
}
.slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.services,
.gallery {
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  width: 470px;
}

.gallery,
.appointment {
  position: relative;
}

.gallery::before,
.appointment::before {
  content: '';
  position: absolute;
  width: 0;
  border-left: 1px dashed #595959;
  top: 40px;
  bottom: 40px;
  left: 0;
}

.services-title,
.gallery-title,
.contacts-title,
.appointment-title {
  font-size: 2rem;
  line-height: 1.1;
}

.services-title {
  margin-bottom: 28px;
}
.gallery-title,
.appointment-title {
  margin-bottom: 20px;
}
.contacts-title {
  margin-bottom: 24px;
}

.services-list {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.services-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}

.services-item::before {
  content: "";
  border: 2px dashed rgba(89, 89, 89, 0.5);
  order: 2;
  flex-grow: 1;
  margin: 0 16px;
}

.services-price {
  color: #AF7842;
  order: 3;
}

.contacts-title,
.appointment-title {
  font-family: 'PT Sans Narrow', sans-serif;
}

.contacts-subtitle {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #AF7842;
  margin: 22px 0 8px;
}

.contacts-address,
.contacts-schedule,
.footer-contacts-address {
  font-style: normal;
  font-weight: 700;
}

.contacts-address-text {
  margin-bottom: 8px;
}
.contacts-schedule {
  margin-bottom: 21px;
}

.contacts-phone {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.appointment > p {
  font-size: .875rem;
  color: #595959;
  margin-bottom: 24px;
}

/* Appointment Form */

.appointment-form {
  font-weight: 700;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 117px 75px 206px;
  gap: 19px 17px;
}

.field {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  padding: 10px 16px;
  border: 2px solid #242424;
}
.field::placeholder {
  color: #BDBDBD;
}
.field:hover {
  border: 2px solid #AF7842;
  cursor: pointer;
}
.field:focus {
  border: 2px solid #AF7842;
  outline: 2px solid #DBB590;
}
.field.error {
  border: 2px solid #EA5454;
}
.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #E7E7E7;
  border: 2px solid #595959;
}

.appointment-form-name {
  grid-column: 1 / -1;
}
.appointment-submit {
  grid-column: 1 / -1;
  justify-self: start;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group label,
.form-label {
  margin-bottom: 8px;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  background: transparent url('../img/icons/info.svg') no-repeat center;
  cursor: pointer;
  margin: 3px 0 0 2px;
}

/* Footer */

.page-footer {
  background: #242424 url('../img/noisy-texture.png');
  color: #FFF;
}

.page-footer-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
}

.footer-logo {
  margin-bottom: 24px;
}

p.about-text {
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-address{
  margin-bottom: 16px;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 36px;
}

.footer-social-item {
  width: 56px;
  height: 44px;
}

.footer-contacts a {
  color: #FFF;
  font-size: 1.25rem;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}
.page-footer h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 14px;
}
p.about-text a {
  color: #DBB590;
}

/* catalog.html */

.nav-logo {
  width: 140px;
  margin-right: 100px;
}

.main-inner {
  background: #FBF7F4 url('../img/noisy-texture.png');
  padding-top: 40px;
  padding-bottom: 60px;
}
.main-inner h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.breadcrumbs-item {
  margin-right: 32px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #242424;
  top: 8px;
  right: -20px;
  transform: rotate(45deg);
}

.breadcrumbs-item:first-child {
  text-decoration: underline;
}
.breadcrumbs-item:last-child {
  color: #595959;
}

/* Filter */

.range {
  max-width: 220px;
  overflow: auto;
}

.range-scale {
  position: relative;
  height: 4px;
  margin: 8px 0 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #AF7842;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  background-color: #FFF;
  border-radius: 50%;
  cursor: pointer;
  top: -8px;
}
.toggle-min {
  left: -10px;
}
.toggle-max {
  right: -10px;
}
.range-toggle:hover {
  background-color: #DBB590;
}
.range-toggle:active,
.range-toggle:focus {
  background-color: #DBB590;
  outline: 3px solid #AF7842;
}

.range-input-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.range-label {
  display: flex;
  gap: 4px;
}
.range-input {
  width: 40px;
  border: none;
  text-align: center;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;

  appearance: textfield;
}
.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-right-column {
  width: 700px;
}

.catalog-filter-group {
  margin-bottom: 40px;
  border: none;
}
.catalog-filter-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.control-label {
  font-weight: 700;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  left: 0;
  top: 2px;
}
.control:hover .control-mark,
.control-input:focus + .control-mark {
  border: 2px solid #AF7842;
  cursor: pointer;
}
.control-input:disabled + .control-mark {
  border: 2px solid #BDBDBD;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
  top: 7.5px;
  left: 2.5px;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4.4px;
  left: 4.4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.sorting-container {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;  
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.sorting-type {
  margin-right: auto;
}

.card-grid-toggle {
  width: 56px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.card-grid-toggle + .card-grid-toggle {
  margin-left: 4px;
}

.card-grid-toggle:hover,
.pagination-link:hover {
  background-color: #814B18;
}
.card-grid-toggle:focus,
.pagination-link:focus {
  outline: 2px solid #DBB590;
  background-color: #814B18;
}

.card-grid-toggle.current {
  background-color: #FFF;
}

.card-grid-toggle.current:hover,
.pagination-current:hover {
  background-color: #DBB590;
}
.card-grid-toggle.current:focus,
.pagination-current:focus {
  outline: 2px solid #AF7842;
  background-color: #DBB590;
}

.card-grid-toggle svg {
  fill: #fff;
}

.card-grid-toggle.current svg {
  fill: #000;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #242424;
  width: 260px;
  padding: 10px 16px;
  border: 2px solid #242424;
  border-radius: 0;
  appearance: none;
  background: url('../img/icons/arrow-down.svg') no-repeat right 16px center;
}
.select-control:hover {
  cursor: pointer;
  border: 2px solid #AF7842;
}
.select-control:focus {
  outline: 2px solid #DBB590;
  border: 2px solid #AF7842;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin-bottom: 24px;
}

.product-card {
  background-color: #FFF;
  display: grid;
  grid-template-rows: 200px min-content auto min-content 16px;
  grid-template-columns: 16px 188px 16px;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.product-card-link {
  grid-column: 1 / -1;
  background-color: #F6F6F6;
}

.product-card-title-link,
.product-card-price,
.product-card-button {
  grid-column: 2 / 3;
}
.product-card-title {
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  margin: 16px 0 8px;
}
.product-card-price {
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #814B18;
  margin-bottom: 16px;
}

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #FFF;
  box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: block;
  min-width: 50px;
  min-height: 44px;
  padding: 14px 20px;
  color: #FFF;
  background-color: #000;
  font-weight: 700;
  line-height: 1;
}
.pagination-current {
  color: #000;
  background-color: #fff;
}

.pagination-prev,
.pagination-next {
  background-image: url('../img/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 56px;
}

.pagination-prev {
  transform: rotate(180deg);
}

.pagination-disabled {
  background-color: #595959;
}
.pagination-show-more {
  margin-left: auto;
  padding: 14px 20px;
  max-width: 170px;
}

/* Popover */

.popover {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 420px;
  min-height: 176px;
  background-color: #FFF;
  box-shadow: 0px 18px 40px rgba(79, 70, 60, 0.16);
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 40px;
  display: none;
}

.popover-open {
  display: block;
}

.popover-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover h2 {
  font-size: 32px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.popover-cart .popover-close-btn {
  padding-left: 44px;
  background: url('../img/icons/cart.svg') no-repeat 22px center;
}

.popover-cart .popover-close-btn:hover {
  background-color: #DBB590;
}

.popover-content {
  height: 100%;
}

.cart-item {
  display: grid;
  grid-template-columns: 284px 56px;
}

.cart-item .button {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.cart-item + .cart-item {
  border-top: 1px dashed #595959; 
  padding-top: 24px;
  margin-top: 24px;
}

.cart-item p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
.cart-price {
  font-size: 16px;
  line-height: 1.5;
  color: #AF7842;
}
.cart-item svg.delete {
  fill: #FFF;
}

/* Modal */

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  display: flex;
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFF;
  box-shadow: 0px 18px 40px rgba(79, 70, 60, 0.16);
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background: url('../img/icons/cross.svg') no-repeat center;
}

.modal h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.modal-auth {
  width: 440px;
}

.auth-form .field-group {
  margin-bottom: 16px;
}

.auth-form .user-options {
  flex-direction: row;
  justify-content: space-between;
}

.user-options .control-label {
  font-weight: 400;
}
.user-options a {
  text-decoration: underline;
}

.auth-form .button {
  display: block;
  width: 100%;
  margin: 0;
}

.auth-form .button + .button {
  margin-top: 16px;
}

