@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/rubik/rubik-400.woff2') format('woff2'),
    url('../fonts/rubik/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/rubik/rubik-700.woff2') format('woff2'),
    url('../fonts/rubik/Rubik-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2'),
    url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff');
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444;
  background-color: #FFF;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #000;
}

a[href^='tel:']{
  text-decoration: underline;
}

ul {
  list-style: none;
}

input {
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Typography */

.main-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
  color: #000;
}

.title-2 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.title-3 {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.text-b {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
}

/* Links States */

.link-active {
  position: relative;
}

.link-active::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  right: 0.2em;
  bottom: -4px;
  background-color: #000;
}

.link:hover {
  opacity: .6;
}
.link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.link:active {
  outline: none;
  opacity: .3;
}

/* Buttons */

.btn {
  display: inline-block;
  text-align: center;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}

.btn:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 1;
}

.btn-disabled {
  color: rgba(0, 0, 0, .3);
}

.btn-line {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(transparent 0 40%, #FFE17F 40% 60%, transparent 60% 100%);
  transition: background-color 100ms ease-in-out;
}

.btn-line:hover {
  background: #FFE17F;
}

.btn-line:active {
  background: #FFCC33;
}

/* Logo */

.logo {
  display: block;
  width: 145px;
}

.logo:hover {
  opacity: .6;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.logo:active {
  outline: none;
  opacity: .3;
}

/* Header */

.header {
  position: relative;
  margin-top: 40px;
  padding: 44px 60px 22px;
  background-color: #FFE17F;
  color: #000;
}

.header-logo {
  position: absolute;
  top: -22px;
}

.user-menu {
  display: grid;
  grid-template-columns: 520px auto;
  gap: 25px;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
}

.search-input,
.search-button {
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  border: 2px solid #000000;
}

.search-input {
  width: 360px;
  padding-left: 50px;
  background: transparent url('../img/icons/search.svg') no-repeat 16px center;
  border-radius: 50px 0px 0px 50px;
  border-right: none;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, .3);
}

.input-wrapper:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.search-input:focus,
.search-button:focus {
  outline: none;
}

.search-input:disabled,
.search-button:disabled {
  opacity: .3;
}

.search-button {
  width: 160px;
  background: transparent;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}

.search-button:hover:not(:disabled) {
  background-color: #000;
  color: #FFF;
  transition: all 300ms ease-out;
}

.search-button:active:not(:disabled) {
  outline: none;
  color: rgba(255, 255, 255, .3);
  transition: all 300ms ease-out;
}

.user-menu-list {
  display: flex;
  gap: 25px;
}

.user-menu-item:first-child {
  flex-grow: 1;
}

.user-login {
  display: block;
  padding-left: 27px;
  background: url('../img/icons/login.svg') no-repeat left center;
}

.user-logout {
  opacity: .3;
}

.user-compare {
  display: block;
  padding-left: 22px;
  background: url('../img/icons/compare.svg') no-repeat left center;
}

.user-cart {
  position: relative;
  display: block;
  padding-left: 25px;
  background: url('../img/icons/cart.svg') no-repeat left center;
}

.user-cart::before {
  content: '2';
  position: absolute;
  top: 4px;
  left: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background: #FFF;
  border-radius: 50%;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-toggler {
  display: flex;
  align-items: center;
  gap: 7px;
}

.catalog_btn {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../img/icons/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: .3;
  cursor: pointer;
}

.catalog_btn-open {
  background-image: url('../img/icons/minus.svg');
}

.catalog_btn:hover,
.catalog_btn:active {
  opacity: 1;
}

.catalog-toggler:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header-catalog {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  background: #FFE17F;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 30px 60px;
  font-size: 16px;
  line-height: 1.12;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.header-catalog_closed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.catalog-menu_item:not(:last-child){
  margin-bottom: 20px;
}

/* Cart-Popover */

.user-menu-item {
  position: relative;
}

.popover {
  position: absolute;
  top: 80px;
  right: 6px;
  z-index: 1;
  width: 320px;
  font-size: 16px;
  line-height: 1.25;
  color: #FFF;
  background-color: #000;
  min-height: 90px;
  display: none;
}

.popover::after {
  content: "";
  position: absolute;
  bottom: 99%;
  left: 50%;
  margin-left: -6px;
  border-bottom: 8px solid #000;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  padding: 20px;
}

.cart-item,
.cart-item_link {
  display: flex;
  gap: 20px;
  align-items: start;
}

.cart-item_link {
  color: #FFF;
}

.cart-item + .cart-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.cart-item_btn {
  background-color: #000;
}

.cart-item_btn:hover {
  opacity: .6;
}

.cart-item_btn:active {
  opacity: .3;
  outline: none;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  background: #1A1A1A;
  padding: 10px 20px;
}

.btn-cart {
  display: block;
  margin: 20px;
  padding: 14px;
  background-color: #FFF;
}

.btn-cart:hover:not(.btn-disabled) {
  background-color: #FFE17F;

}

.btn-cart:active:not(.btn-disabled) {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, .3);
}

/* Footer */

.footer {
  margin-top: auto;
  padding: 62px 0;
  background-color: #444;
  color: #FFF;
}

.footer-cols {
  display: grid;
  grid-template-columns: 240px auto 200px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-logo svg {
  fill: #FFC700;
}

.footer-address {
  grid-row: 1 / 3;
  position: relative;
}

.footer-address::after {
  content:'';
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-address,
.footer-phone {
  font-size: 16px;
  line-height: 1.25;
}

.footer-nav,
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  gap: 35px;
}

.social {
  gap: 15px;
  margin-top: 46px;
}

.footer-nav_link {
  color: #FFF;
}

.footer-nav_link:hover {
  color:#FFC700;
  border-bottom: 2px solid #FFC700;
}

.social_item {
  display: block;
  width: 40px;
  height: 40px;
}

.social_link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social_link.fb {
  background-image: url('../img/icons/fb.svg');
}

.social_link.inst {
  background-image: url('../img/icons/inst.svg');
}

.social_link.tw {
  background-image: url('../img/icons/tw.svg');
}

.social_link:hover {
  background-color: #FFC700;
}

.social_link:focus {
  outline: none;
}

.social_item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.social_link:active {
  background-color: #FFC700;
  outline: none;
  opacity: .3;
}

.footer-phone {
  color: #FFF;
  justify-self: end;
}

.footer-phone:hover {
  color:#FFC700;
}

.academy-logo {
  align-self: end;
  justify-self: end;;
}

.academy-logo svg {
  fill: #FFC700;
}

.academy-logo:hover svg {
  fill: #FFF;
}

.academy-logo:focus {
  outline: 1px solid #AF4FFF;
  outline-offset: 2px;
}

.academy-logo:active svg {
  fill-opacity: .3;
  fill: #FFF;
}

.academy-logo:active {
  outline: none;
}

/* Carousel */

.carousel__container {
  position: relative;
  height: 560px;
  margin-bottom: 70px;
  overflow: hidden;
}

.carousel_track {
  height: 100%;
  position: relative;
  transition: transform .3s ease-in;
}

.carousel_btn {
  position: absolute;
  top: 210px;
  background: transparent;
  border: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 50ms ease-out;
}

.carousel_btn-prev {
  left: 4px;
}

.carousel_btn-next {
  left: 540px;
}

.carousel_btn:disabled,
.carousel_indicator:disabled {
  opacity: .1;
  cursor: default;
}

.carousel_btn:hover:not(:disabled),
.carousel_indicator:hover:not(:disabled){
  opacity: .6;
}

.carousel_btn:active:not(:disabled),
.carousel_indicator:active:not(:disabled){
  opacity: .3;
}

.carousel_slide {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel_slide::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 124px;
  z-index: -1;
}

.carousel_slide-1::before {
  background: #FFE17F url(../img/icons/01.svg) no-repeat bottom -14px right 50px;
}

.carousel_slide-2::before {
  background: #FFE17F url(../img/icons/02.svg) no-repeat bottom -14px right 50px;
}

.carousel_slide-3::before {
  background: #FFE17F url(../img/icons/03.svg) no-repeat bottom -14px right 50px;
}

.carousel_slide-title {
  margin-bottom: 30px;
}

.carousel_slide-text {
  margin-bottom: 60px;
}

.carousel_slide-btn {
  width: 220px;
}

.carousel_slide-info {
  display: grid;
  grid-auto-flow: column;
  margin: 60px 0 40px;
}

.carousel_slide-details {
  display: grid;
  gap: 12px;
}

.carousel_slide-details dd {
  font-size: 36px;
  line-height: 30px;
  color: #000;
}

.carousel_slide-details dt {
  font-size: 16px;
  line-height: 30px;
}

.carousel_nav {
  position: absolute;
  bottom: 190px;
  right: 4px;
  display: flex;
  gap: 20px;
}

.carousel_indicator {
  width: 12px;
  height: 12px;
  background: #FFF;
  border: 2px solid #000;
  border-radius: 50%;
}

.carousel_indicator.current-slide {
  background: #000;
}

/* Categories */

.categories_list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 70px;
}

.categories_item-link {
  width: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: opacity .1s ease-in-out;
}

.categories_item-link:hover .categories_item-img {
  background-color: #FFC700;
}

.categories_item-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.categories_item-link:active {
  opacity: .3;
  outline: none;
}

.categories_item-img {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  transition: background-color .1s ease-in-out;
}

.categories_item-text {
  font-family: 'Raleway';
  line-height: 24px;
  letter-spacing: -0.02em;
}

/* Tabs */

.tabs {
  background: linear-gradient(#FFF 0 25%, #F0F0F0 25% 100%);
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.tabs__container {
  display: flex;
}

.tabs__nav {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 64px 0;
  border-right: 7px solid #000;
}

.tabs__nav-btn {
  width: 160px;
  margin-right: 120px;
  padding: 10px 5px;
}

.tabs__nav-btn.active {
  position: relative;
  z-index: 0;
  background-color: #000;
  color: #FFE17F;
}

.tabs__nav-btn.active::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: #000;
  width: 280px;
  height: 100%;
}

.tabs__nav-btn.active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.tabs__nav-btn.active:active {
  color: rgba(255, 225, 127, 0.3);
}

.tabs__content {
  padding-left: 116px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  width: 100%;
}

.tabs__item {
  display: none;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.tabs__item.delivery {
  background-image: url('../img/icons/delivery.svg');
}

.tabs__item.guarantee {
  background-image: url('../img/icons/guarantee.svg');
}

.tabs__item.credit {
  background-image: url('../img/icons/credit.svg');
}

.tabs__item.active {
  display: block;
}

.tabs__item-title {
  margin-bottom: 34px;
}

.tabs__item-text {
  max-width: 475px;
}

/* Delivery Banner */

.delivery-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #FFE17F 125px, #F0F0F0 125px);
  margin-bottom: 70px;
  padding: 40px;
  cursor: pointer;
}

.delivery_title {
  line-height: 23px;
  text-align: center;
}

.delivery_info {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5) url('../img/icons/info.svg') no-repeat center;
  cursor: pointer;
}

.delivery_info:focus {
  outline: 0;
}

.delivery-banner:hover {
  background: linear-gradient(90deg, #FFC700 125px, #F0F0F0 125px);
}
.delivery-banner:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.delivery-banner:active {
  opacity: 0.3;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal-container.close {
  display: none;
}

.modal {
  position: relative;
  width: 920px;
  margin: auto;
  padding: 62px 70px;
  background-color: #FFF;
  border: 10px solid #000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modal-close-btn {
  width: 26px;
  height: 26px;
  border: 0;
  background: url('../img/icons/cross-bl.svg') no-repeat center;
  cursor: pointer;
}

.modal-close-btn:hover {
  opacity: .6;
}

.modal-close-btn:active {
  opacity: .3;
}

.modal_form {
  display: grid;
  grid-template-columns: 200px 120px 140px 180px;
  gap: 42px 40px;
}

.username-field {
  grid-column: 1 / 3;
}

.email-field {
  grid-column: 3 / 5;
}

.details-field {
  grid-column: 1 / 4;
}

.modal_submit-btn {
  width: 200px;
}

.modal_form-field {
  display: flex;
  flex-direction: column;
}

.modal_label {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000;
}

.modal_input {
  padding: 20px 60px 20px 20px;
  background-color: #F0F0F0;
  border: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal_input.username {
  background: #F0F0F0 url('../img/icons/login-gr.svg') no-repeat right 20px top 50%;
}

.modal_input.email {
  background: #F0F0F0 url('../img/icons/mail.svg') no-repeat right 20px top 50%;
}

.modal_input:not([type="number"]):hover {
  background-color: #DCDCDC;
}

.modal_input:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 1;
}

.modal_input.error {
  box-shadow: inset 0 0 0 2px #FF3D3D;
}

.warning-tip,
.warning-fail {
  font-size: 14px;
  line-height: 20px;
}

.warning-tip {
  color: #000;
}
.warning-fail {
  color: #FF3D3D;
  display: none;
}

.number-field {
  width: 180px;
  display: flex;
}

.modal_input[type="number"] {
  width: 60px;
  padding: 20px;
  appearance: textfield;
  text-align: center;
}

.modal_input[type="number"]::-webkit-outer-spin-button,
.modal_input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minus-btn,
.plus-btn {
  width: 60px;
  height: 60px;
  border: 0;
  cursor: pointer;
}

.minus-btn {
  background: #F0F0F0 url('../img/icons/minus.svg') no-repeat center;
}

.plus-btn {
  background: #F0F0F0 url('../img/icons/plus.svg') no-repeat center;
}

.minus-btn:hover,
.plus-btn:hover {
  opacity: .6;
}

.minus-btn:active,
.plus-btn:active {
  opacity: .3;
}

.modal_label {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -3px;
  left: 121px;
  width: 26px;
  height: 26px;
  content: '';
  background: #FFE17F url('../img/icons/info-bl.svg') no-repeat center;
  border-radius: 50%;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  top: 35px;
  left: -120px;
  display: inline-block;
  width: 200px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #000;
  color: #FFF;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 99%;
  left: 125px;
  border-bottom: 7px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Information */

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-bottom: 70px;
}

.about-us,
.contacts {
  position: relative;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 448px;
  height: 7px;
  background-color: #000;
  content: '';
}

.info__title {
  margin-bottom: 18px;
}

.info__subtitle {
  color: #444;
  margin-bottom: 15px;
}

.info__transport li:not(:last-child) {
  margin-bottom: 19px;
}

.info__transport li {
  position: relative;
  padding-left: 34px;
}

.info__transport li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  content: '';
}

.about-us__btn {
  width: 270px;
}

.contacts__btn {
  width: 260px;
}

/* Newsletter */

.newsletter {
  background-color: #F0F0F0;
  padding: 64px 0 56px;
}

.newsletter__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 144px;
}

.newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter__form {
  width: 810px;
  display: flex;
}

.newsletter__email {
  flex-grow: 1;
  padding: 14px 16px;
  background-color: #F0F0F0;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter__email::placeholder {
  color: #444;
  opacity: .5;
}

.newsletter__email:focus {
  background-color: #DCDCDC;
  outline: none;
}

.newsletter__email.error {
  border-bottom: 3px solid #FF3D3D;
}

.newsletter__btn {
  padding: 18px 39px;
  border: 3px solid #CECECE;
  transition: background-color ease-out .2s, color ease-out .2s;
}

.newsletter__btn:hover {
  background-color: #000;
  border: 3px solid #000000;
  color: #FFF;
}

.newsletter__btn:active {
  color: rgba(255, 255, 255, .3);
}

.newsletter__text {
  padding-left: 32px;
  background: #F0F0F0 url('../img/icons/tick-gr.svg') no-repeat 0 50%;
}

/* CATALOG */

.catalog__header {
  padding: 35px 60px;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__brdcrmbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
  font-size: 16px;
  line-height: 19px;
}

.catalog__brdcrmbs-item {
  position: relative;
}

.catalog__brdcrmbs-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 6px;
  right: -20px;
  width: 4px;
  height: 7px;
  background: url('../img/icons/arrow-br.svg') no-repeat center;
}

.catalog__brdcrmbs-item:not(:last-child):hover{
  opacity: .6;
}

.catalog__content-wrap {
  background-color: #F0F0F0;
}

.catalog__content {
  display: grid;
  grid-template-columns: 320px auto;
}

/* catalog filter */

.catalog__filter {
  padding: 0 60px;
  margin-bottom: 30px;
}

.filter__title {
  padding: 25px 0;
  margin-bottom: 35px;
}

.filter__group {
  border-top: 2px solid #000;
  padding-top: 12px;
}

.filter__legend {
  margin-bottom: 20px;
}

.filter__btn {
  width: 100%;
}

.filter__label {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.range {
  margin-bottom: 35px;
}

.range-scale {
  position: relative;
  margin: 30px 0 10px;
  height: 2px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color ease-out 50ms;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, .5);
}

.range-toggle:active {
  background: #000;
  opacity: 1;
}

.toggle-min {
  left: -9px;
  top: -9px;
}
.toggle-max {
  right: -9px;
  top: -9px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
}

.range-label {
  max-width: 80px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  opacity: .3;
}

.range-label.min::before,
.range-label.max::before {
  position: absolute;
  left: -22px;
  top: 0;
}

.range-label.min::before {
  content: 'от';
}
.range-label.max::before {
  content: 'до';
}

.range-label:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range-input {
  width: 100%;
  background-color: #F0F0F0;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 18px;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__list {
  margin-bottom: 35px;
}

.filter__list li:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  background-color: #F0F0F0;
  border: 2px solid #CCC;
  border-radius: 3px;
}

.control:hover {
  opacity: .6;
}

.control:active {
  opacity: .3;
}

.control-input:focus + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input:checked + .control-mark {
  border: 2px solid #000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url('../img/icons/tick.svg') no-repeat center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  left: 4.4px;
  top: 4.4px;
}
