*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #163152;
  background-color: #FDFDFF;
}

a {
  text-decoration: none;
  color: #163152;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

/* Header */

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  margin: 0 40px 0 auto;
  display: flex;
}

.nav-menu-item:not(:last-child) {
  margin-right: 30px;
}

.nav-menu,
.footer-nav h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-menu a:hover,
.nav-menu a:focus,
.contacts a:hover,
.contacts a:focus {
  color: rgba(22, 49, 82, 0.5);
  outline: none;
}

.nav-menu a:active,
.contacts a:active {
  color: rgba(22, 49, 82, 0.3);
}

.user-icon:hover,
.user-icon:focus,
.social-item:hover,
.social-item:focus {
  opacity: 0.5;
  outline: none;
}

.user-icon:active,
.social-item:active {
  opacity: 0.3;
}

/* Hero */

.hero {
  margin-bottom: 120px;
}

.hero h1 {
  font-size: 44px;
  line-height: 60px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
  margin-left: 70px;
}

/* Events */

.event {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.event-content {
  width: 400px;
}

p.date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.event h2,
.contacts h2,
.news h2,
.gallery h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline 2px #00C6BD;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.event1 {
  margin-bottom: 100px;
}

.event2 {
  flex-direction: row-reverse;
  text-align: right;
  margin-bottom: 120px;
}

.event h2 {
  margin: 10px 0 35px;
}

/* Gallery */

.gallery {
  margin-bottom: 120px;
}

.gallery-wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-item::before {
  position: absolute;
  content: "";
  background: rgba(253, 253, 255, 0.5);
  width: 170px;
  height: 150px;
}

.gallery-item-active::before {
  background: transparent;
}

.gallery-item:not(:last-child) {
  margin-bottom: 30px;
}

/* News */

.news {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.news h2,
.gallery h2 {
  text-align: center;
  margin-bottom: 55px;
}

.news-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693A4;
  margin-top: 17px;
}

.news h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 33px 0 27px;
}

.news p {
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0;
}

.news h4 {
  font-size: 20px;
  line-height: 26px;
  margin: 24px 0 15px;
}

.race-list {
  list-style: url('../img/disc.svg');
  padding-left: 19px;
  margin-bottom: 30px;
}

.race-list li {
  margin: 8px 0;
}

blockquote {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  border-left: 2px solid #00C6BD;
  margin: 38px 0 30px;
  padding: 0 20px;
}

.news-author {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.author-img {
  margin-right: 15px;
}
.share-icon {
  margin-left: auto;
}
.share-icon:hover,
.share-icon:focus {
  opacity: 0.5;
  outline: none;
}
.share-icon:active {
  opacity: 0.3;
}

.author-info b,
.author-info p {
  margin: 0;
}

.news-author p {
  font-size: 16px;
  color: #8693A4;
  margin-top: 9px;
}

/* Contacts */

.contacts {
  width: 1010px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  line-height: 1.38;
  margin-bottom: 120px;
}

.contacts h2 {
  margin-bottom: 35px;
}

.address li:not(:last-child) {
  margin-bottom: 15px;
  display: flex;
}

.contacts h3 {
  font-size: 1rem;
  margin-right: 10px;
}

.social-list {
  display: flex;
  margin-top: 15px;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

/* Footer */

.page-footer .copy {
  font-size: .625rem;
  line-height: 1.2;
}

.footer-nav a {
  font-size: .875rem;
  line-height: 1.14;
}

.page-footer {
  border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer-container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-nav {
  width: 870px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: 300px;
}

.footer-nav-item {
  width: 165px;
}

.footer-nav h2 {
  margin-bottom: 20px;
}