body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #163152;
  background-color: #FDFDFF;
}

a {
  text-decoration: none;
  color: #163152;
}

/* Header */

.nav-menu,
.footer-nav h2 {
  font-size: .875rem;
  line-height: 1.29;
  text-transform: uppercase;
}

/* Hero */

h1 {
  font-size: 2.75rem;
  line-height: 1.36;
  font-weight: 400;
  font-style: italic;
}

/* Team & Children */

p.date {
  font-size: .875rem;
  line-height: 1.29;
  text-transform: uppercase;
}

.team h2,
.children h2,
.contacts h2 {
  font-size: 1.5rem;
  line-height: 1.42;
  text-decoration: underline 2px #00C6BD;
  text-underline-offset: .625em;
  text-underline-position: under;
}

.children p,
.children h2 {
  text-align: right;
}

/* Contacts */

.contacts h3 {
  font-size: 1rem;
}
.contacts {
  line-height: 1.38;
}

/* Footer */

.page-footer .copy {
  font-size: .625rem;
  line-height: 1.2;
}

.footer-nav a {
  font-size: .875rem;
  line-height: 1.14;
}