.site-list {
  @media (min-width: @tablet) {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop) {
    gap: 0;
  }
}

.site-list__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-light;
  @media (min-width: @tablet) {
    &--active {
      position: relative;
    }
    &--active::after {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      left: 0;
      height: 3px;
      background-color: #826550;
    }
  }
  @media (min-width: @desktop) {
    &--active::after {
      right: 30px;
      left: 30px;
    }
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 18px 21px;
  background-color: #826550;
  border-top: 1px solid #886E5B;
  border-bottom: 1px solid #71543F;
  &:hover,
  &:active {
    background-color: #755A46;
  }
  &:active {
    color: fade(#fff, 30%);
  }
  @media (min-width: @tablet) {
    background-color: #000;
    border: 0;
    padding: 24px 0;
    &:hover {
      color: #826550;
      background-color: #000;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #000;
    }
  }
  @media (min-width: @desktop) {
    padding: 30px;
    &:hover {
      color: #000;
      background-color: #fff;
    }
    &:active {
      color: fade(#000, 30%);
    }
  }
}
