.user-list {
  @media (min-width: @tablet) {
    font-weight: 700;
  }
}

.user-list__login {
  position: relative;
  display: block;
  padding: 18px 21px;
  padding-left: 49px;
  line-height: 18px;

  span {
    @media (min-width: @tablet) and (max-width: @desktop) {
      .visually-hidden;
    }
  }
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: .3;
  fill: #fff;
}
